[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.3"
lxml = "==5.2.1"
jupyterlab = "==2.2.10"
matplotlib = "==3.8.4"
pandas = "==2.2.2"
yfinance = "==0.2.38"

[dev-packages]

[requires]
python_version = "3.12"
